<div class="container">

    <div class="card border p-5">
        <h5 class="card-header">Deathly Hallow Race</h5>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-3">
                    <h5 class="card-header">Invisibility Cloak -</h5>
                    <span id="cloakCounter"></span>
                </div>
                <div class="col-3">
                    <h5 class="card-header">Resuurrection Stone -</h5>
                    <span id="stoneCounter"></span>
                </div>
                <div class="col-3">
                    <h5 class="card-header">Elder Wand  -</h5>
                    <span id="wandCounter"></span>
                </div>
                <div class="card-body">
                    <hr />
                    <p>Url to Vote:</p>
                    <div>1. Invisibility Cloak - https://localhost:7088/Home/DealthyHallows?type=cloak</div>
                    <div>2. Resuurrection Stone - https://localhost:7088/Home/DealthyHallows?type=stone</div>
                    <div>3. Elder Wand   - https://localhost:7088/Home/DealthyHallows?type=wand</div>
                </div>
            </div>
        </div>
    </div>





</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/deathlyHallows.js"></script>
