<div class="container">
    <br />
    <div class="card border p-5">
        <h5 class="card-header">Subscribed List</h5>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-3">
                    <label style="color:darkred;font-size:medium" class="card-title" id="lbl_houseJoined"> </label>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Subscribe:</h5>
            <div class="row p-2">
                <div class="col-3">
                    <button type="button" class="btn btn-success" id="btn_group1">Group1</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-danger" id="btn_group2">Group2</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-warning" id="btn_group3">Group3</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary" id="btn_group4">Group4</button>
                </div>

            </div>


        </div>

        <h5 class="card-header">Unsubscribe:</h5>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-3">
                    <button type="button" class="btn btn-success" style="display:none" id="btn_un_group1">Group1</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-danger" style="display:none" id="btn-un_group2">Group2</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-warning" style="display:none" id="btn-un_group3">Group3</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary" style="display:none" id="btn-un_group4">Group4</button>
                </div>

            </div>

        </div>


        <h5 class="card-header">Trigger Notification:</h5>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-3">
                    <button type="button" class="btn btn-success" id="btn_tr_group1">Group1</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-danger" id="btn_tr_group2">Group2</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-warning" id="btn_tr_group3">Group3</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary" id="btn_tr_group4">Group4</button>
                </div>

            </div>


        </div>


    </div>
    

</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/houseGroup.js"></script>