<div class="container">
    <br />
    <div class="card border p-5">
        <h5 class="card-header">Total Views:</h5>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-3">
                    <span id="totalViewsCounter"></span>
                </div>
            </div>
        </div>
        <h5 class="card-header">Total Connection/Users:</h5>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-3">
                    <span id="totalUsersCounter"></span>
                </div>
            </div>
        </div>
    </div>






</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/usersCount.js"></script>


